In [2]:
 4+2

6

In [3]:
4-2

2

In [4]:
4*2

8

In [5]:
5//2

2

In [6]:
5/2

2.5

In [7]:
25*4

100

In [8]:
(5000*10*4)/100

2000.0

In [9]:
4**2

16

In [10]:
bank_balance = 200
print(bank_balance)

200

In [14]:
my_int = 20

In [15]:
my_float = 15.85

In [16]:
my_string = 'Hello World'

In [17]:
my_bool = True

In [39]:
height = 60
width = 40
new_area_of_rectangle = height * width
print(new_area_of_rectangle)

2400

In [47]:
height=1.7
weight=72.25
bmi=int(weight/(height*height))
print(bmi)

25

In [55]:
gender = "male"
is_obese=False

In [61]:
height=20
width=80
area_of_rectangle=height*width

In [66]:
total_interest=9762.69
type(total_interest)

float

In [68]:
height = 50
width = 40
area_of_rectangle = height * width
print(area_of_rectangle)

2000

In [69]:
type(area_of_rectangle)

int

In [70]:
bmi = 25
print("BMI is " + bmi)

TypeError: must be str, not int

In [71]:
bmi = 25
bmi_str= str(25)
message = "BMI is " + bmi_str
print(message)

BMI is 25

In [ ]:
first = "Cloudx"
second = "Lab"
final= first + second

In [ ]:
animal = "cat"
ten_animals = animal * 10

In [ ]:
hours= input("Enter Hours:")
rates= input ("Enter Rate:")
pay = float(hours) * float(rates)
print ("Pay:" + str(pay))

In [5]:
hours= input("Enter Hours:")
rates= input ("Enter Rate:")
pay = float(hours) * float(rates)
print ("Pay:" + str(pay))

Enter Hours:5
Enter Rate:6
Pay:30.0

In [10]:
x=5
if x>5:
    print ("Greater")
else:
    print ("Good")

Good

In [3]:
def pay_calculator(hours, rate):
    total_pay=0
    if hours>40:
        total_pay= (hours -40) * 1.5 * rate + 40 * rate
    else:
        total_pay = hours * rate
    return total_pay

In [4]:
total_pay= pay_calculator (45,10)
print(total_pay)

475.0

In [8]:
2<=3

True

In [9]:
2!=3

True

In [10]:
2=>3

SyntaxError: invalid syntax (<ipython-input-10-4fb7e769fe2c>, line 1)

In [7]:
area_of_circle=str(78.5)
area_of_circle_msg= "Area of the circle is - " + area_of_circle
print(area_of_circle_msg)

Area of the circle is - 78.5

In [13]:
names={"sam" : [1,2,3]}

print("sam" in names)

True

In [14]:
len("cloudxlab")

9

In [17]:
max("cloudxlab")

'x'

In [18]:
min("cloudxlab")

'a'

In [26]:
square_area = 8.9 * 8.9
square_area_type=type(square_area)
square_area_int= int(square_area)
square_area_str=str(square_area_int)

print (square_area)
print(square_area_type)
print(square_area_int)
print(square_area_str)

79.21000000000001
<class 'float'>
79
79

In [32]:
import math
print(math)

<module 'math' from '/usr/local/anaconda/lib/python3.6/lib-dynload/math.cpython-36m-x86_64-linux-gnu.so'>

In [33]:
import math

In [50]:
square_root=math.sqrt(56.98)
sin_rad=26 * math.pi/180
sin_degree= math.sin(26 * math.pi/180)
log_e=math.log(1000)

print(square_root)
print(sin_rad)
print(sin_degree)
print(log_e)

7.548509786706248
0.4537856055185257
0.4383711467890774
6.907755278982137

In [57]:
import random
random_number=random.random()
random_int= int(random_number)

In [62]:
def print_name():
    name="Cloudxlab"
    print ("My name is", name)
print(type(print_name))
print_name()

<class 'function'>
My name is Cloudxlab

In [63]:

def get_name():
    print("Cloudxlab")
    
get_name()

Cloudxlab

In [66]:
def my_function(number):
    xyz=number
    xyz_str=str(xyz)
    xyz_str +="cloudxlab"
    print(xyz_str)

In [67]:
my_function(10)

10cloudxlab

In [71]:

import math
def new_function(num):
    return math.pi * num

def void_function(num1, num2):
    x= new_function(num1**num2)
    print(x)
void_function(4.6,7.3)

216412.35147094267

In [74]:
def input_name():
    return input("What am I studying?")

subject=input_name()
print(subject)

What am I studying?Python
Python

In [100]:
def is_on_line(x1,x2,x):
    if x1<=x<=x2 or x1>=x>=x2:
        return True
    else:
        return False

In [101]:
is_on_line(-4,-5,-4.5)

True

In [115]:
def conditional_statements(num1,num2,num3,num4):
    if num1<num2 and num1>num3 and num1==num4 and num3 < min(num1,num2,num4) and type(num2)==float and type(num1)==int and type(num3)==int and type(num4)==int:
        return num1 + num2+ num3+ num4
    else:
        return None

conditional_statements(3,3.0,1,2)

In [125]:
def except_func(num):
    try:
        return num*num
    except:
        return "invalid number"

In [131]:
a=a+1

NameError: name 'a' is not defined

In [133]:
def print_even(n):
    for i in range(0,n):
        if i%2==0:
            print (i)
        else:
            continue

0
2
4
6
8

In [134]:
      
print_even(15)

0
2
4
6
8
10
12
14

In [3]:
def compound_interest(principle, rate, years):
    new_principle= principle
    total_year=years
    net_interest=0
    while total_year>0:
        net_interest += (new_principle* rate*1)/100
        new_principle += net_interest
        total_year -=1
    return net_interest

In [4]:
x= compound_interest(100,5,2)
print (x)

10.25

In [6]:
y= compound_interest(100,5,3)
print (y)

16.0125

In [26]:
def sum_func(num):
    if type(num)==int:
        if num >=0:
            sum=0
            for i in range(0,num+1):
                sum += i
            return sum
        else:
            return -1
    else:
        return -1

In [16]:
sum_func(10)

55

In [17]:
sum_func(-1)

-1

In [18]:
sum_func(1.3)

-1

In [27]:
sum_func(0)

0

In [37]:
def special_func(num):
    total=0
    if type(num)==int:
        if num >=0:
            for i in range(1,num+1):
                if num % i == 0 and i % 2 != 0:
                    total += i
            return total
        else:
            return -10
    else:
        return -10

In [41]:
special_func('abcd')

-10

def str_func(value):

In [50]:
def str_func(value):
    return value[-1]

In [51]:
str_func('abcd')

'd'

In [56]:
def sum_str_func(value):
    sum=0
    chars= str(value)
    for i in chars:
        sum += int(i)
    return sum

In [57]:
sum_str_func(1234)

10

In [58]:
sum_str_func('1234')

10

In [65]:
def slicing_func(arg):
    print (arg[2:])

In [66]:
slicing_func("Hello World")

llo World

In [71]:
a = "cloudxlab"
a[1] = 'm'

TypeError: 'str' object does not support item assignment

In [74]:
result = 'cloud' in 'cloudxlab'
print (result)

True

In [75]:
string = "machine"
print (string == " machine")

False

In [1]:
a = "cloudxlab"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [2]:
help(a.translate)

Help on built-in function translate:

translate(...) method of builtins.str instance
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.

In [78]:
help(str.translate)

Help on method_descriptor:

translate(...)
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.

In [50]:
def email_func(str):
    email_identify_index=str.find('@')
    print (email_identify_index)
    if email_identify_index == -1:
        return False
    else :
        def find(str, ch):
            for i, ltr in enumerate(str):
                if ltr == ch:
                    yield i
    
        space_index =list(find(str,' '))
        print (space_index)
        if len(space_index)<=0:
            return str
        else :
            start_index=0
            end_index=0
            for i in space_index:
                if i <email_identify_index:
                    start_index=i
                elif i > email_identify_index:
                    end_index=i
                    break;
            print (start_index)
            print (end_index)
            if start_index==0 and end_index==0:
                return str
            elif start_index==0 and end_index>0:
                return str[1:end_index]
            elif start_index>0 and end_index==0:
                return str[start_index +1:]
            else:
                return str[start_index +1:end_index]

In [51]:
email_func(" cloudxlab@cloudxlab.com ")

10
[0, 24]
0
24

'cloudxlab@cloudxlab.com'

In [58]:
b =  "%d is an integer, %g is floating-point and %s is string" % (23, 23.34, "Twenty-Three")
print(b)

23 is an integer, 23.34 is floating-point and Twenty-Three is string

In [59]:
print("%f %f %s")

%f %f %s

In [60]:
print("%f %s %d" % (12.3, 12, 'cloudxlab')

SyntaxError: unexpected EOF while parsing (<ipython-input-60-bcbd5327bee8>, line 1)

In [61]:
a = [12, 3.4, 34, 'cloudxlab', [2.3, 1.4]]

In [62]:
print(3 in a)

False

In [63]:
print('cloudx lab' in a)

False

In [64]:
a = [1,2,3]    
c = a * 3

In [65]:
print (c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [1]:
a = [1,2,3]    
c = a * 3
sum=0
for i in c:
    sum += i
print(sum)

18

In [2]:
a = [1,2,3,4,5,6,7,8,9]
s = (a[2:5])
sum=0
for i in s:
    sum += i
print(sum)

12

In [5]:
a = [1,2,3,4,5,6,7,8,9]
a[2:5] = [7,4,9]
sum=0
for i in a:
    sum += i
print(sum)

53

In [6]:
a = [23,12,32,1,2,34,56]
a.append(12)
print(a[len(a)-2])

56

In [7]:
a.extend(a)

In [8]:
print(a)

[23, 12, 32, 1, 2, 34, 56, 12, 23, 12, 32, 1, 2, 34, 56, 12]

In [10]:
sum=0
for i in a:
    sum += i
print (sum)

344

In [11]:
a.sort()
print(a[2] + a[7])

14

In [17]:
list1 = [12,23,43,[2,4,5], 2, 4,5]
list1.pop(3)

sum=0
for i in list1:
    sum += i
print (sum)

89

In [18]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[:]
print (len(list2))

0

In [53]:
def str_list_func(arg):
    split_string= arg.split()
    new_strings=[]
    for item in split_string:
        l= list(item)
        indexS=l[0]
        l[0]=l[len(l)-1]
        l[len(l)-1]=indexS
        new_string=''.join(l)
        new_strings.append(new_string)
        
    result= ' '.join(new_strings)
    return result

In [54]:
str_list_func('x')

'x'

In [62]:
with open("/cxldata/python_sample_file") as f:
    s = ""
    for line in f:
        print(line)
        s = s + line
    print(s)

This is a sample file for testing

for Python course for

learners in CloudxLab.

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [80]:
def file_read_func(string):
    counter=0
    try:
        with open(string) as f:
            for line in f:
                for word in line.split():
                    counter+=len(word)
    except:
        return -1
    else:
        return counter

In [82]:
file_read_func("/cxldata/python_sample_file")

65

In [65]:
print(len("This is a sample file for testing"))

33

In [88]:
check = 0
with open("/cxldata/python_sample_file") as f:
    for line in f:
        if(line.startswith('w')):
            check = check + 1
print(check)

0

In [91]:
with open("python_file_writing.txt","w") as write_file:
    write_file.write("I am learning Python at CloudxLab.")

In [90]:
!pwd

/home/ankurbiotech8951/cloudxlab_jupyter_notebooks

In [1]:
import sys
dir(sys)

['__displayhook__',
 '__doc__',
 '__excepthook__',
 '__interactivehook__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__stderr__',
 '__stdin__',
 '__stdout__',
 '_clear_type_cache',
 '_current_frames',
 '_debugmallocstats',
 '_getframe',
 '_git',
 '_home',
 '_xoptions',
 'abiflags',
 'api_version',
 'argv',
 'base_exec_prefix',
 'base_prefix',
 'builtin_module_names',
 'byteorder',
 'call_tracing',
 'callstats',
 'copyright',
 'displayhook',
 'dont_write_bytecode',
 'exc_info',
 'excepthook',
 'exec_prefix',
 'executable',
 'exit',
 'flags',
 'float_info',
 'float_repr_style',
 'get_asyncgen_hooks',
 'get_coroutine_wrapper',
 'getallocatedblocks',
 'getcheckinterval',
 'getdefaultencoding',
 'getdlopenflags',
 'getfilesystemencodeerrors',
 'getfilesystemencoding',
 'getprofile',
 'getrecursionlimit',
 'getrefcount',
 'getsizeof',
 'getswitchinterval',
 'gettrace',
 'hash_info',
 'hexversion',
 'implementation',
 'int_info',
 'intern',
 'is_finalizing',
 'maxsize',
 'maxunicode',
 'meta_path',
 'modules',
 'path',
 'path_hooks',
 'path_importer_cache',
 'platform',
 'prefix',
 'ps1',
 'ps2',
 'ps3',
 'set_asyncgen_hooks',
 'set_coroutine_wrapper',
 'setcheckinterval',
 'setdlopenflags',
 'setprofile',
 'setrecursionlimit',
 'setswitchinterval',
 'settrace',
 'stderr',
 'stdin',
 'stdout',
 'thread_info',
 'version',
 'version_info',
 'warnoptions']

In [3]:
sys --version

NameError: name 'version' is not defined

In [4]:
sys.version()

TypeError: 'str' object is not callable

In [5]:
sys.version

'3.6.8 |Anaconda, Inc.| (default, Dec 30 2018, 01:22:34) \n[GCC 7.3.0]'

In [6]:
sys.stdout.write('hi')

hi

In [7]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
help(str.rfind)

Help on method_descriptor:

rfind(...)
    S.rfind(sub[, start[, end]]) -> int

    Return the highest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [9]:
!ls

foundations_of_python_450.ipynb  python_file_writing.txt
foundations_of_python_459.ipynb  python_foundations_assessments_103.ipynb
python_file_write.txt		 python_videos_and_questions_50.ipynb

In [10]:
!touch hello.py

In [11]:
!ls

foundations_of_python_450.ipynb  python_file_writing.txt
foundations_of_python_459.ipynb  python_foundations_assessments_103.ipynb
hello.py			 python_videos_and_questions_50.ipynb
python_file_write.txt

In [17]:
outvalue=map([1,2,3,4],str)
print (outvalue)

TypeError: 'type' object is not iterable

In [20]:
info(map)

NameError: name 'info' is not defined

In [21]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

In [22]:
map(str,[1,2])

In [30]:
output= map(str,[1,2])

In [24]:
output

In [31]:
for i in output:
    print (type(i))

<class 'str'>
<class 'str'>

In [33]:
sq=map(lambda x:x*2, [1,2,3])

In [34]:
for i in sq:
    print (i)

2
4
6

In [35]:
(0,1,20000)<(0,3,4)

True

In [40]:
lst=[6,2,3,4]

In [41]:
lst2 = sorted(lst)

In [42]:
lst2

[2, 3, 4, 6]

In [43]:
lst

[6, 2, 3, 4]

In [44]:
lst.sort()

In [45]:
lst

[2, 3, 4, 6]

In [46]:
d = { 'one' : 1 , 'two' : 2, 'three' : 3, 'four': 4 }

In [47]:
print(len(d))

4

In [48]:
print('three' in d)

True

In [49]:
print(4 in d)

False

In [50]:
print(5 in d and 2 in d)

False

In [52]:
def dict_func(arg):
    words= arg.split()
    dict_new={}
    
    for word in words:
        if word in dict_new:
            dict_new[word] +=1
        else:
            dict_new[word]=1
    return dict_new

In [53]:
word_dict=dict_func("test")
print (word_dict)

{'test': 1}

In [54]:
word_dict=dict_func('the quick brown fox jumps over the lazy dog')
print (word_dict)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [58]:
t = (1)
type(t)

int

In [59]:
t = tuple()
print(t)

()

In [66]:
t1 = tuple("1,2,3,4,5")
t2 = tuple([1,2,3,4,5])
t3 = tuple((1,2,3,4,5))

In [62]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [67]:
t1[0]

'1'

In [68]:
t1[1]

','

In [69]:
t2[0]

1

In [70]:
t2[1]

2

In [71]:
t3[0]

1

In [72]:
t3[1]

2

In [73]:
t = (1,3,5,2,54,34,2,34,5)
l = len(t)
print(t[l-2])

34

In [74]:
t2 = t[2:5]

In [75]:
sum(t2)

61

In [76]:
t3 = t[1:3] + t2[:]

In [77]:
sum(t3)

69

In [78]:
(0, 1, 2) < (0, 3)

True

In [79]:
l = [(0,23,34), (2,34,23), (1,34,23)]
l.sort()

In [80]:
l[2]

(2, 34, 23)

In [81]:
print(sum(l[2]))

59

In [82]:
l = [1,2,3]
(a,b,c) = l

In [83]:
l[1]

2

In [84]:
def dict_tuple_func (lst):
    num_dict={}
    for i in lst:
        if i in num_dict:
            num_dict[i] +=1
        else:
             num_dict[i] =1
    sum_of_key=sum(num_dict.keys())
    return (num_dict,sum_of_key)

In [85]:
dict_tuple_func([1, 2, 3, 1, 2, 3])

({1: 2, 2: 2, 3: 2}, 6)

# regular Expression

In [1]:
# Using Re.search() like startwith() , rstrip -- strip whitespace from right
'''
import re

hand= open (file)
for line in hand:
    line = line.rstrip()
    if re.search('^svn', line):
        print(line)
'''

"\nimport re\n\nhand= open (file)\nfor line in hand:\n    line = line.rstrip()\n    if re.search('^svn', line):\n        print(line)\n"

In [2]:
#Matching and extract data
import re
if re.match("a","b"):
    print ("yes")
else:
    print ("no")

no

In [4]:
import re 
re.findall("aa", "this is a aa and that is a aaa")

['aa', 'aa']

In [5]:
import re 
re.findall("a+", "this is a aa and that is a aaa") # one or more character of a preciding character

['a', 'aa', 'a', 'a', 'a', 'aaa']

In [11]:
import re 
re.findall(".", "this is a aa and that is a aaa") # . match with all the character ['th','is',' i','s ','a ','aa',' a','nd', ' t','ha','t ','is',' a',' a','aa']
re.findall("..", "this is a aa and that is a aaa") # all teo charecter including 
re.findall(" .. ", "this is a aa and that is a aaa") # space followed by two character and then a space [' is ', ' aa ', ' is ']

[' is ', ' aa ', ' is ']

In [12]:
import re 
# . mean any single character
re.findall("t...", "this is a aa and that is a aaa")

['this', 'that']

In [14]:
import re 
# * _  mean any number of previous character
re.findall("a*", "this is a aa and that is a aaa") # blank line or  0 or more of any the character 
re.findall("aa*", "this is a aa and that is a aaa") #-> a, aa, aaa ['a', 'aa', 'a', 'a', 'a', 'aaa']

['a', 'aa', 'a', 'a', 'a', 'aaa']

In [15]:
import re 
# + _  mean one or more  number of previous character
re.findall("t+", "this is a aa and that is a aaa") # blank line or  0 or more of any the character

['t', 't', 't']

In [28]:
import re 
# escape
re.findall("s\\+", "this+ is a aa and that is a aaa") # ['s+']
re.findall("\\+", "this+ is a aa and that is a aaa") # ['+']
#start with ^. Begining of line
re.findall("^t....", "this is a aa and that is a aaa") # ['this'] it will only match with this not that becoause it meands start with
# end of line
re.findall(".....a$", "this is a aa and that is a aaa") # [' a aaa'] 
# match whitespace \s

re.findall("a\s.", "this is a aa and that is a aaa") # ['a a', 'a a', 'a a']
re.findall("a\s.", "this is a aa      and that is a aaa") # ['a a', 'a  ', 'a a']
re.findall("a +", "this is a aa               and that is a aaa") # 

# capital \S will match with non white space

re.findall("a\S.", "this is a aa and that is a aaa") # ['aa ', 'and', 'at ', 'aaa']

# ? zero or one character
re.findall("thi?", "this is a aa and that is a aaa") # ['thi ', 'th']

['thi', 'th']

In [35]:
import re 
#match either of these listed character
re.findall("th[ai][st]", "this is a aa and that is a aaa") # ['this', that]
re.findall("[aeiou][aeiou]", "this is a aa and that is a aaa") # more then two vowels

#consonent put ^, within [] ^ is like not (reverse the criteria)
re.findall("[aeiou][^aeiou]", "this is a aa and that is a aaa") # second charater will be consonent

# range of character
re.findall("[a-s]", "this is a aa and that is a aaa") 
re.findall("[A-z]", "this is a aa and that is a aaa") # note this is case sensitive

['h',
 'i',
 's',
 'i',
 's',
 'a',
 'a',
 'a',
 'a',
 'n',
 'd',
 'h',
 'a',
 'i',
 's',
 'a',
 'a',
 'a',
 'a']

In [43]:
import re

re.findall('[0-9]+', 'My 2 fovorite numbers are 19 and 42') #['2', '19', '42']
re.findall('[0-9]+.[0-9]+', 'My 2 fovorite numbers are 19.5 and 42 and 3788097x98398') # only decimal point but x will be there
re.findall('[0-9]+\\.[0-9]+', 'My 2 fovorite numbers are 19.5 and 42 and 3788097x98398') # only decimal point 
re.findall('[0-9]+(\\.[0-9]+)?', 'My 2 fovorite numbers are 19.5 and 42 and 3788097x98398') # any number decimal or integer

['.5']

In [1]:
# + and * are very greedy or we can put ? to remove greedy
# ^X.*: X-Sieve:
# ^X.\S*: X-Sieve: No white space
# ^F.+: ['From: test:'] -- Greedy
# ^F.+?: ['From:'] -- Non Greedy
# \S+@\S+  As soon as it hit white space it will stop so it means kjghsdkjgd@ljkhdkjhd

In [2]:
l =[1,2]
(a,b,c)=l

ValueError: not enough values to unpack (expected 3, got 2)

In [18]:
value=map(str, [1,2,3])

In [6]:
print(value)# so it is giving the object , but to get the value you need to yield it explicitly by

<map object at 0x7f2cb445ce48>

In [15]:
class myclass():
    def __init__ (self, x, y):
        self.x= x
        self.y= y
        
    def doSoming(self):
        pass

In [10]:
cls= myclass(1,2)

In [11]:
help(cls)

Help on myclass in module __main__ object:

class myclass(builtins.object)
 |  Methods defined here:
 |
 |  __init__(self, x, y)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  doSoming()
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [13]:
dir(cls)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'doSoming',
 'x',
 'y']

In [14]:
type(cls.x)

int

In [16]:
for i in value:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>

In [19]:
list(value)

['1', '2', '3']

NameError: name 'reduce' is not defined

In [23]:
from functools import reduce

In [25]:
reduce(lambda x,y: x+y,[1,2,3,4])

10

In [30]:
dict_it={"test":1,"tetete":2}

val=dict_it.get("tab",0)

In [31]:
val

0

In [3]:
def email_func(data):
    find_value = [string for string in data.split(' ') if string.find('@') > 0]
    return find_value[0] if len(find_value) > 0 else False

In [4]:

#print(email_func("Crazy Frog"))

#print(email_func("this is first abhinav@cloudxlab.com and this is second sandeep@cloudxlab.com"))

print(email_func("a a@"))

a@

## Important Modules

In [11]:
import random
import os
import re
import datetime
import math
import xml
import sys
print(os.listdir())
print (random.random())
print(datetime.date(2017, 4, 5))
print(sys.path)
dir(datetime)

['python_videos_and_questions_50.ipynb', 'python_file_writing.txt', 'foundations_of_python_459.ipynb', '.ipynb_checkpoints', 'python_foundations_assessments_103.ipynb', 'hello.py', 'python_file_write.txt', 'foundations_of_python_450.ipynb']
0.05309463660651548
2017-04-05
['/usr/local/anaconda/lib/python36.zip', '/usr/local/anaconda/lib/python3.6', '/usr/local/anaconda/lib/python3.6/lib-dynload', '', '/usr/local/anaconda/lib/python3.6/site-packages', '/usr/local/anaconda/lib/python3.6/site-packages/IPython/extensions', '/home/ankurbiotech8951/.ipython']

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [12]:
#lambda
f= lambda x,y:x+y

In [13]:
f(2,3)

5

In [14]:
foo=[2,18,9,22,24,8,12]

In [15]:
# filter() function

division_by_3= filter(lambda x:x%3==0,foo)
print(list(division_by_3))

[18, 9, 24, 12]

In [16]:
#map () function

lambda_map= map(lambda x:x*2+10, foo)
print(list(lambda_map))

[14, 46, 28, 54, 58, 26, 34]

In [18]:
# reduce() function

import functools
lambda_reduce = functools.reduce(lambda x,y:x+y, foo)
print (lambda_reduce)

95