................Randamisation

In [1]:
import random

In [2]:
i= random.randint(1,10)

In [3]:
i

6

In [4]:
type(i)

int

In [5]:
random_f= random.random()

In [6]:
random_f

0.824926139488396

In [7]:
random_f

0.824926139488396

In [9]:
random_f_five= random.random() *5

In [10]:
random_f_five

1.55698704385419

In [11]:
myList= [1,2,3,4]

In [12]:
myList.append(5)

In [14]:
myList

[1, 2, 3, 4, 5]

In [15]:
myList.extend([1,2,4])

In [16]:
myList

[1, 2, 3, 4, 5, 1, 2, 4]

In [17]:
myList.insert(6,10)

In [18]:
myList

[1, 2, 3, 4, 5, 1, 10, 2, 4]

In [19]:
myList.remove(10)

In [20]:
myList

[1, 2, 3, 4, 5, 1, 2, 4]

In [22]:
myList[7]

4

In [23]:
fruits=["Apple", "Peach","Pear"]

In [24]:
for fruit in fruits:
    print (fruit)

Apple
Peach
Pear

In [25]:
for num in range(1,10):
    print (num)

1
2
3
4
5
6
7
8
9

In [27]:
for num in range (1,10,2):
    print (num)

1
3
5
7
9

In [32]:
import random
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
symbols = ['!', '#', '$', '%', '&', '(', ')', '*', '+']

print("Welcome to the PyPassword Generator!")
nr_letters= int(input("How many letters would you like in your password?\n")) 
nr_symbols = int(input(f"How many symbols would you like?\n"))
nr_numbers = int(input(f"How many numbers would you like?\n"))


password_char=[]

for n in range(0,nr_letters):
  password_char.append(random.choice(letters)) 
for n in range(0,nr_symbols):
  password_char.append(random.choice(symbols)) 
for n in range(0,nr_numbers):
  password_char.append(random.choice(numbers)) 


print(password_char)

random.shuffle(password_char)

print(password_char)


my_password=""

for char in password_char:
    my_password += char
    
print(my_password)

Welcome to the PyPassword Generator!
How many letters would you like in your password?
12
How many symbols would you like?
3
How many numbers would you like?
3
['T', 'W', 'm', 'a', 'Z', 'z', 'k', 'c', 'Z', 'b', 'v', 'A', ')', '%', '&', '9', '4', '4']
['4', '%', '4', 'b', 'k', 'Z', 'z', '&', ')', 'a', 'T', 'A', 'Z', 'm', '9', 'v', 'W', 'c']
4%4bkZz&)aTAZm9vWc

####Functions

##### Functions

In [2]:
def greet():
    print("Hello")
    print("how do you do?")

greet()

Hello
how do you do?

In [3]:
#Write your code below this line ðŸ‘‡
def prime_checker(number):
    isPrimeNumber=True
    for n in range(2,number):
        if number % n==0:
            isPrimeNumber =False
    
    if isPrimeNumber:
        print("It's a prime number.")
    else:
        print("It's not a prime number.")



#Write your code above this line ðŸ‘†
    
#Do NOT change any of the code belowðŸ‘‡
n = int(input("Check this number: "))
prime_checker(number=n)

Check this number: 5
It's a prime number.

In [4]:
non_title_value="jhskjhkjshd kjsjlsjlksd kljskljsdljld AKJHAHJLHALHLA"
print(non_title_value.title())

Jhskjhkjshd Kjsjlsjlksd Kljskljsdljld Akjhahjlhalhla

# Calculator

In [10]:


#Calculator

#Add
def add(n1, n2):
    return n1 + n2
#Subtract
def subtract(n1, n2):
    return n1 - n2
#Multiple
def multiple(n1, n2):
    return n1 * n2
#Divide
def divide(n1, n2):
    return n1 / n2

operations={ 
    "+":add,
    "-":subtract,
    "*":multiple,
    "/":divide
}

num1= int(input("What's the first number?:"))
for symbol in operations:
    print(symbol)
    
operation_symbol= input("Pick an operation from the line above:")
num2= int(input("What's the second number?:"))

answer=operations[operation_symbol](num1, num2)

print(f"{num1} {operation_symbol} {num2} = {answer}")

iscontinue =input("Type 'y' to continue calculating with {}, or type 'n' to exit:")

while iscontinue=='y':
    operation_symbol= input("Pick an operation:")   
    nextNum= int(input("What's the next number?:"))
    num1New=answer
    answer=operations[operation_symbol](num1New, nextNum)
    print(f"{num1New} {operation_symbol} {nextNum} = {answer}")
    iscontinue =input("Type 'y' to continue calculating with {}, or type 'n' to exit:")

What's the first number?:1
+
-
*
/
Pick an operation from the line above:+
What's the second number?:4
1 + 4 = 5
Type 'y' to continue calculating with {}, or type 'n' to exit:y
Pick an operation:+
What's the next number?:6
5 + 6 = 11
Type 'y' to continue calculating with {}, or type 'n' to exit:y
Pick an operation:-
What's the next number?:2
11 - 2 = 9
Type 'y' to continue calculating with {}, or type 'n' to exit:n

## Scope

In [ ]:
global_variable=1 #globalscope
print(global_variable)

def testvariable():
    global_variable =2 
    print(global_variable) #local scope

testvariable()    

print(global_variable)

for _ in range(2):
    global_variable = 3 #global scope

print(global_variable)



def testvariablewith():
    global global_variable
    global_variable =4 
    print(global_variable) #global scope

testvariablewith()
print(global_variable)

PI=3.14 # contants

## Number Guess game

In [3]:
import random
print("Welcome to the Number Guessing Game!")
print("I'm thing of a number between 1 and 100.")
difficulty=input("Choose a difficulty. Type 'easy' or 'hard':")

attempts = 5
if difficulty=="easy":
    attempts =10
actual_number=random.randint(1,101)
print (actual_number)
hasWin=False
while attempts>0:
    print(f"You have {attempts} attempt remaining to guess the number.")
    guess_number=int(input("Make a guess:"))
    if actual_number == guess_number:
        hasWin= True
        break;
    elif(actual_number < guess_number):
        print("Too high")
    else:
        print("Too low")
    print ("Guess again.")
    attempts -= 1
if hasWin:
    print("You Win.")
else:
    print("You Lose.")

Welcome to the Number Guessing Game!
I'm thing of a number between 1 and 100.
Choose a difficulty. Type 'easy' or 'hard':hard
20
You have 5 attempt remaining to guess the number.
Make a guess:50
Too high
Guess again.
You have 4 attempt remaining to guess the number.
Make a guess:25
Too high
Guess again.
You have 3 attempt remaining to guess the number.
Make a guess:10
Too low
Guess again.
You have 2 attempt remaining to guess the number.
Make a guess:15
Too low
Guess again.
You have 1 attempt remaining to guess the number.
Make a guess:18
Too low
Guess again.
You Lose.

In [1]:
import math
print (math.cos(26))
print (math.sin(26))

0.6469193223286404
0.7625584504796027

# HOC

In [6]:
#Function return Function


def to_the_power(power):
    def raise_to_the_power(num):
        return num ** power
    return raise_to_the_power

In [10]:
cube= to_the_power(3)
value= cube(2)

print(value)

8

In [11]:
sq=to_the_power(2)
value= sq(2)
print(value)

4

In [12]:
#Function Accepting Functions

def i_accept_function(arg, x,y):
    return arg(x,y)

In [13]:
def sum_n(x,y):
    return x+y

print(i_accept_function(sum_n, 2,4))

6

In [14]:
def mul_n(x,y):
    return x*y

print(i_accept_function(mul_n, 2,4))

8

## recursion

In [22]:
# Tower of haroi


def solve_tower(num, src, tar, aux):
    if num>0:
        solve_tower(num-1,src, aux, tar)
        print("Moving ",num," from ",src," to ",tar)
        solve_tower(num-1,aux, tar, src)

In [24]:
solve_tower(2,'source','target','extra')

Moving  1  from  source  to  extra
Moving  2  from  source  to  target
Moving  1  from  extra  to  target

In [25]:
solve_tower(3,'source','target','extra')

Moving  1  from  source  to  target
Moving  2  from  source  to  extra
Moving  1  from  target  to  extra
Moving  3  from  source  to  target
Moving  1  from  extra  to  source
Moving  2  from  extra  to  target
Moving  1  from  source  to  target

In [26]:
solve_tower(4,'source','target','extra')

Moving  1  from  source  to  extra
Moving  2  from  source  to  target
Moving  1  from  extra  to  target
Moving  3  from  source  to  extra
Moving  1  from  target  to  source
Moving  2  from  target  to  extra
Moving  1  from  source  to  extra
Moving  4  from  source  to  target
Moving  1  from  extra  to  target
Moving  2  from  extra  to  source
Moving  1  from  target  to  source
Moving  3  from  extra  to  target
Moving  1  from  source  to  extra
Moving  2  from  source  to  target
Moving  1  from  extra  to  target

In [7]:
def my_multiply(x,y):
    if y > 0:
        return x + my_multiply(x, y-1)
    else:
        return 0

In [8]:
my_multiply(2,3)

6

In [3]:
numbers=[1,2,3]
#Add one to each number

new_list=[]
for n in numbers:
    add_1=n+1
    new_list.append(add_1)
print (new_list)

[2, 3, 4]

In [5]:
numbers=[1,2,3]
#List_comprehension

new_list =[n+1 for n in numbers]
print(new_list)

[2, 3, 4]

# Function with *args and **kargs

In [1]:
def add(*args):
    total=0
    for num in args:
        total +=num
    return total

In [2]:
add(1,2)

3

In [4]:
add(1,2,3,3,4,5,6,7)

31

# Map & lambda

In [8]:
def Add(x):
    return x + x

In [3]:
map(Expo, [2,3])

In [9]:
for i in map(Add, [2,3]):
    print (i)

4
6

In [10]:
sum = lambda x, y: x+y

In [11]:
sum(2,3)

5

In [16]:
x=map(lambda x:x*2, [2,3])

In [18]:
for i in x:
    print (i)

4
6

for i in x:

In [19]:
#remove whitespace from right

'Ankur      \n'.rstrip()

'Ankur'

# regular expression

In [20]:
import re
x= 'My 2 favorite number are 19 and 42. I will love to see 234 and 2333 in the queue.'
y= re.findall('[0-9]+',x)
print (y)

['2', '19', '42', '234', '2333']

In [21]:
import re 
if re.match("a","aaaa"):
    print("yes")
else:
    print("No")

yes

In [22]:
import re 
if re.match("a","bbbb"):
    print("yes")
else:
    print("No")

No

In [23]:
'''
to match any single char use . # for two char use ..   t.=>ti, to,; t...=>that, thss
^ start with
* match all  aa* =>a, aa,aaa
+ mean one or more preceding char 
'''

In [ ]:
#https://docs.python.org/3/library/re.html

In [ ]:
#* 0 or more

In [10]:
## Class inheritence


class A:
    def method1():
        print("class A, method1")
    def method3():
        print("class A, method3")
    def method6():
        print("class A, method6")
    
class B:
    def method2():
        print("class B, method2")   
    def method3():
        print("class B, method3")
    def method6():
        print("class B, method6")
              
class C(A):
    def method4():
        print("class C, method4")

class D(B):
    def method5():
        print("class D, method5")
    

        
class E(A,B):
    def method3():
        print("class E, method3")


objA=A()
A.method1()

objB=B()
B.method2()
B.method3()

objC=C()
C.method1()
C.method3()
C.method4()

objD=D()
D.method2()
D.method3()
D.method5()

objE=E()
E.method1()
E.method2()
E.method3() ## will call itself
E.method6() ## will call A method as it was inherited first, if you want to inherited

class A, method1
class B, method2
class B, method3
class A, method1
class A, method3
class C, method4
class B, method2
class B, method3
class D, method5
class A, method1
class B, method2
class E, method3
class A, method6

In [ ]:
PAN 

PAN has a typical format of ABCTY1234D. The first three characters, i.e. â€˜ABCâ€™ in the above number is an alphabetic series ranging between AAA and ZZZ. The 4th character, i.e. â€˜Tâ€™, represents the PAN holderâ€™s status. The alphabet â€˜Tâ€™ represents Trust, â€˜Fâ€™ for Firm, â€˜Hâ€™ for HUF, â€˜Pâ€™ for Individual, â€˜Câ€™ for Company etc. The 5th character, i.e. â€˜Yâ€™, represents the first alphabet the PAN holderâ€™s last name. The next four characters are sequential digits ranging between 0001 and 9999. The 10th character, i.e. â€˜Dâ€™, is an alphabetic check digit that runs from A to Z.